body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

.more-info-bar {
    background-color: #888888;
    color: #fff;
    padding: 8px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.more-info-bar .more-info-text {
    margin: 0;
}

.more-info-bar .close-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
}

header {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 900;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-right: 20px;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}

header nav ul li a {
    color: #003366;
    text-decoration: none;
    font-size: 16px;
}

.site-title {
    margin: 0;
    font-size: 36px;
}

.carousel {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    justify-content: flex-start;
    gap: 20px;
}

.carousel-item {
    flex-shrink: 0;
}

.carousel-item img {
    height: 100px;
    border-radius: 50%;
}

.info-section {
    padding: 10px 20px 20px;
}
.pagetitle {
    color: #c29504;
    text-align: center;

}
.info-block {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.info-block h3 {
    color: #003366;
}

.info-block img {
    width: 200px;
    height: 150px;
    object-fit: contain;
    margin-left: 20px;
}

.info-block p {
    color: #666;
    flex: 1;
    font-size: 18px;
    margin-left: 20px; 
}

.currency-conversion {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px; 
    margin-left: 400px; 
    margin-right: 400px; 
    display: flex;
    align-items: center;

}

.currency-conversion h2 {
    color: #003366;
}

.currency-conversion img {
    width: 400px;
    height: auto;
    display: block;
    margin: 20px auto;
}
#exchange-rate {
    margin: 0 10px; 
}
.curr {
    margin-right: 10px; 
}
.curr img{
    width: 100px;
    height: auto;
    display: block;
    margin: 20px auto;
}
.stay-up-to-date {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.stay-up-to-date h2 {
    color: #003366;
}

.stay-up-to-date .news-carousel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stay-up-to-date .news-carousel .news-site {
    text-align: center;
}

.stay-up-to-date .news-carousel .news-site p {
    margin: 0;
}

.stay-up-to-date .news-carousel .news-site img {
    max-height: 100px;
    width: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

footer {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 97.3%;
    bottom: 0;
    display: flex;
    flex-direction: row; /* Change this line */
    align-items: center;
    justify-content: center; /* Add this line */
}

footer p {
    margin-right: 10px; /* Change this line */
}

footer img {
    max-width: 50px;
}
.sources {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

.sources ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sources li {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.sources li em {
    font-style: italic;
}